<task-list
    tasks="ctrl.task.postrequisites.toArray()"
    on-create="ctrl.create(task)"
    on-save="ctrl.save(task)"
    on-delete="ctrl.delete(task)"
    hide-parent="true">
</task-list>
<div class="well">{{ctrl.task.description}}</div>
<task-create
	on-create="ctrl.create(task)"
    postrequisite-task-id="{{ctrl.task.id}}">
</task-create>
<task-list
    tasks="ctrl.findTasks()"
    on-create="ctrl.create(task)"
    on-save="ctrl.save(task)"
    on-delete="ctrl.delete(task)"
    hide-parent="true">
</task-list>