<ul class="list-group">
    <li class="task list-group-item">
        <form ng-submit="ctrl.search()">
            <div class="form-inline input-group">
                <input class="form-control" type="text" ng-model="ctrl.searchTerm"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </li>
</ul>
<task-list
    tasks="ctrl.findTasks()"
    on-save="ctrl.save(task)"
    on-create="ctrl.create(task)"
    on-task-done="ctrl.taskDone(task)">
</task-list>