<ul class="list-group">
    <li class="task list-group-item">
        <form ng-submit="ctrl.create(ctrl.defaultParentTaskId || 0, description); description = ''">
            <div class="form-inline input-group">
                <input class="form-control" type="text" ng-model="description"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
        </form>
    </li>
    <li class="task list-group-item clearfix" ng-repeat="task in ctrl.tasks">
        <div ng-show="!showCreate">
            <span class="task-description" ng-class="{'done': task.done}">{{task.description}}</span>
            <div class="btn-group pull-right">
                <button ui-sref="tasks.details.list({id: task.id})" type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                <button ng-show="!task.done" type="button" class="btn btn-default" ng-click="ctrl.setDone(task)"><span class="glyphicon glyphicon-check"></span></button>
                <button ng-show="task.done" type="button" class="btn btn-default" ng-click="ctrl.setUndone(task)"><span class="glyphicon glyphicon-check"></span></button>
                <button type="button" class="btn btn-default" ng-click="ctrl.delete(task)"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default" ng-click="showCreate = true"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
        <form ng-submit="ctrl.create(task.id, description)">
            <div class="form-inline input-group" ng-show="showCreate">
                <div class="input-group-addon" ng-click="showCreate = false">
                    <span class="glyphicon glyphicon-backward"></span>
                </div>
                <input class="form-control" type="text" ng-model="description"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
            </div>
        </form>
    </li>
</ul>